@import "tailwindcss";

* {
    font-family: "Playfair Display SC", serif;
    text-transform: none;
}

.head_black {
    background-color: rgba(0, 0, 0, 0.651);
}

.tshw,
.tshwh1 {
    text-shadow: .1px .1px 1px white;
}

.tshw:hover {
    text-shadow: .1px .1px 1px orangered;
}

.context {
    cursor: context-menu;
}

.yellow_anime {
    animation: 1s linear infinite yellow_anime;
}

@keyframes yellow_anime {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.7);
        opacity: 0;
    }
}

.yellow_anime_delay {
    animation: 1s linear infinite yellow_anime_delay .5s;
}

@keyframes yellow_anime_delay {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.7);
        opacity: 0;
    }
}

.s1 {
    background-color: rgb(19, 19, 19);
}

.box_sh:hover {
    box-shadow: .1px .1px 7px 0px orangered;
}

.crt_div {
    background-color: rgba(0, 0, 0, 0.685);
}

.navbar{
    opacity: 0;
    animation:  1s nav_anime forwards ease .5s ;
}
@keyframes nav_anime{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
            transform: translateY(0);
        opacity: 1;
    }
}
.h-anime{
     opacity: 0;
    animation:  1s h_anime forwards ease .5s ;
}
@keyframes h_anime{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
            transform: translateY(0);
        opacity: 1;
    }
}
.box_anime{
    opacity:0;
    animation: .5s box_anime ease-out .4s forwards;
}
@keyframes box_anime{
    from{
        opacity:0;
        transform: scale(.5);
    }
    to{
        transform: scale(1);
        opacity:1;
    }
}
.left_anime1{
    opacity: 0;
    animation: .8s left_anime ease forwards;
}
.left_anime2{
    opacity: 0;
    animation: .8s left_anime ease forwards .3s;
}
.left_anime3{
    opacity: 0;
    animation: .8s left_anime ease forwards .6s;
}
.left_anime4{
    opacity: 0;
    animation: .8s left_anime ease forwards .9s;
}
.left_anime5{
    opacity: 0;
    animation: .8s left_anime ease forwards 1.2s;
}
@keyframes left_anime{
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}




@media screen and (max-width:400px) {
    .sec_img {
        height: 300px;
        width: 100%;
    }

    .f_img {
        height: 250px;
    }
}